# DataFrame

## Creating a Pandas DataFrame
In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc. Dataframe can be created in different ways here are some ways by which we create a dataframe

In [1]:
import pandas as pd
import numpy as np
# https://www.geeksforgeeks.org/python-pandas-dataframe/

### Create Dataframe From List

In [3]:
lst = ['one', 'Two', np.nan, 'Four', 5, 'six']

df = pd.DataFrame(lst)
df

      0
0   one
1   Two
2   NaN
3  Four
4     5
5   six

### Create Dataframe From Dict

In [4]:
# dictionary of lists 
data = {
        'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']
       }
  
df = pd.DataFrame(data,index=data['Name']) # To indicate one column as index
print(df)
df = pd.DataFrame(data) # Auto indexing
df

          Name  Age    Address Qualification
Jai        Jai   27      Delhi           Msc
Princi  Princi   24     Kanpur            MA
Gaurav  Gaurav   22  Allahabad           MCA
Anuj      Anuj   32    Kannauj           Phd

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

## Dealing With Row Column
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 
We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.

#### Column Selection
In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [5]:
print(df[['Name','Age']]) # To select multiple column.
print('\n\n')
print(df['Age']) # to select only one column.

     Name  Age
0     Jai   27
1  Princi   24
2  Gaurav   22
3    Anuj   32



0    27
1    24
2    22
3    32
Name: Age, dtype: int64