In [10]:
import numpy as np
import pandas as pd

In [11]:
# Load Data

In [12]:
t1 = pd.read_csv('dataset/table1.csv')
t2 = pd.read_csv('dataset/table2.csv')
t1.head()
t2.head()

   user_id                email
0        1   'sharif@gmail.com'
1        1  'sharif2@gmail.com'
2        2    'imran@gmail.com'

# Join to table

In [13]:
t3 = pd.merge(t1,t2,on='user_id')
t3

   user_id      name  age                email
0        1  'sharif'   25   'sharif@gmail.com'
1        1  'sharif'   25  'sharif2@gmail.com'
2        2   'imran'   26    'imran@gmail.com'